<h1>Dashboard</h1>

<% if flash[:alert] %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= flash[:alert] %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% elsif flash[:notice] %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= flash[:notice] %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<div class="card mb-4 border-0 shadow-sm">
  <div class="card-body">
    <%= form_with url: dashboard_path, method: :get, local: true do |f| %>
      <div class="row justify-content-center align-items-end g-3 text-center">
        <div class="col-md-3">
          <%= f.label :month, "Selecione o mês", class: "form-label fw-semibold" %>
          <%= f.month_field :month,
                value: (params[:month] || Time.current.strftime("%Y-%m")),
                class: "form-control" %>
        </div>
        <div class="col-12 d-flex justify-content-center mt-2">
          <%= f.submit "Filtrar", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="container mt-4">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card text-bg-danger mb-3" style="max-width: 18rem;">
        <div class="card-header">Despesas do Mês</div>
        <div class="card-body">
          <h5 class="card-title"><%= number_to_currency(@money_out_in_current_month) %></h5>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card text-bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header">Receitas do Mês</div>
        <div class="card-body">
          <h5 class="card-title"><%= number_to_currency(@money_in_in_current_month) %></h5>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">Dinheiro que Tenho</div>
        <div class="card-body">
          <h5 class="card-title"><%= number_to_currency(@how_many_money_have) %></h5>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-1 g-4">
      <div class="col">
        <div class="card mb-3">
          <div class="card-header">Despesas por Categoria</div>
            <%= pie_chart @money_out_by_category %>
        </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-1 g-4">
      <div class="col">
        <div class="card mb-3">
          <div class="card-header">Despesas por Mês</div>
            <%= line_chart @money_out_by_month %>
        </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-1 g-4">
      <div class="col">
        <div class="card mb-3">
          <div class="card-header">Porcentagem por Categoria</div>
            <%= bar_chart @percentage_money_out_by_category, suffix: "%" %>
        </div>
    </div>
  </div>
  

  <div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-1 g-4">
      <div class="col">
        <div class="card mb-3">
          <div class="card-header">Top 5 Despesas do Mês</div>
            <table class="table">
              <thead>
                <tr>
                  <th>Categoria</th>
                  <th>Valor</th>
                  <th>Data</th>
                  <th>Nome</th>
                </tr>
              </thead>
              <tbody>
                <% @most_expensive_money_outs.each do |expense| %>
                  <tr>
                    <td><%= expense.category.name %></td>
                    <td><%= number_to_currency(expense.amount) %></td>
                    <td><%= expense.money_date.strftime("%d/%m/%Y") %></td>
                    <td><%= expense.label %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
        </div>
    </div>
  </div>

  

  