<%= form_with(model: money_in) do |form| %>
  <% if money_in.errors.any? %>
    <div style="color: red">
      <ul>
        <% money_in.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :label, class: "form-label", for: "moneyInLabel" %>
    <%= form.text_field :label, class: "form-control", id: "moneyInLabel", placeholder: "nome da receita" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label", for: "moneyInDescription" %>
    <%= form.text_field :description, class: "form-control", id: "moneyInDescription", placeholder: "descrição da receita" %>
  </div>

  <div class="mb-3">
    <%= form.label :amount, class: "form-label", for: "moneyInAmount" %>
    <%= form.number_field :amount, class: "form-control", id: "moneyInAmount", step: "0.01", placeholder: "valor da receita" %>
  </div>
  
  <div class="mb-3">
    <%= form.label :money_date, class: "form-label", for: "moneyInMoneyDate" %>
    <%= form.date_field :money_date, class: "form-control", id: "moneyInMoneyDate" %>
  </div>

  <div class="mb-3">
    <%= form.label :category_id, class: "form-label", for: "moneyInCategoryId" %>
    <%= form.select :category_id, Category.all.collect { |c| [c.name, c.id] }, { include_blank: "Selecione uma categoria" }, class: "form-control", id: "moneyInCategoryId" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Criar Despesa", class: "btn btn-primary" %>
  </div>

  <div class="mb-3">
    <%= link_to "Voltar", categories_path, class: "btn btn-secondary" %>
  </div>
<% end %>
