<div id="<%= dom_id money_in %>">
  <div>
    <strong>Label:</strong>
    <%= money_in.label %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= money_in.description %>
  </div>

  <div>
    <strong>Money date:</strong>
    <%= money_in.money_date %>
  </div>

  <div>
    <strong>Category:</strong>
    <%= money_in.category_id %>
  </div>

</div>
