
<div class="card text-center" id="<%= dom_id money_in %>">
  <div class="card-header">
    <%= money_in.label %>
  </div>
  <div class="card-body">
    <p class="card-text"><%= money_in.description %></p>
  </div>
  <div class="card-body">
    <p class="card-text"><b>Categoria:</b> <%= money_in.category.name %></p>
  </div>
  <div class="card-body">
    <p class="card-text"><b>Valor:</b> R$<%= money_in.amount %></p>
  </div>
  <div class="card-footer text-body-secondary">
    <b><%= money_in.money_date.strftime("%d/%m/%Y") %></b>
  </div>
</div>