<p style="color: green"><%= notice %></p>

<% content_for :title, "Receitas" %>

<h1>Receitas</h1>
<div class="mb-4">
  <%= search_form_for @q do |f| %>

    <%= f.label :label_or_description_cont, "Descrição Ou Nome", class: "form-label" %>
    <%= f.search_field :label_or_description_cont, class: "form-control" %>

    <div class="row mt-2">
      <div class="col-md-6">
        <%= f.label :money_date_gteq, "Data Inicial", class: "form-label" %>
        <%= f.search_field :money_date_gteq, type: :date, class: "form-control" %>
      </div>
      <div class="col-md-6">
        <%= f.label :money_date_lteq, "Data Final", class: "form-label" %>
        <%= f.search_field :money_date_lteq, type: :date, class: "form-control" %>
      </div>
    </div>

    <%= f.label :category_id_eq, "Categoria", class: "form-label" %>
    <%= f.select :category_id_eq, options_from_collection_for_select(@categories, :id, :name, params.dig(:q, :category_id_eq)), { include_blank: "Todas" }, class: "form-select" %>

    <div class="row mt-2">
      <div class="col-md-6">
        <%= f.label :amount_gteq, "Valor Mínimo", class: "form-label" %>
        <%= f.search_field :amount_gteq, type: :number, step: :any, class: "form-control" %>
      </div>
      <div class="col-md-6">
        <%= f.label :amount_lteq, "Valor Máximo", class: "form-label" %>
        <%= f.search_field :amount_lteq, type: :number, step: :any, class: "form-control" %>
      </div>
    </div>

    <%= f.submit "Buscar", class: "btn btn-primary mt-2" %>
  <% end %>
</div>

<div id="money_ins">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Valor</th>
        <th>Data</th>
        <th>Categoria</th>
        <th>Ações</th>
      </tr>
    </thead>

    <tbody>
      <% @money_ins.each do |money_in| %>
        <tr>
          <td><%= money_in.label %></td>
          <td><%= money_in.description %></td>
          <td><%= number_to_currency(money_in.amount) %></td>
          <td><%= money_in.money_date.strftime("%d/%m/%Y") %></td>
          <td><%= money_in.category.name if money_in.category %></td>
          <td>
            <%= link_to "Editar", edit_money_in_path(money_in), class: "btn btn-warning" %>
            <%= link_to "Excluir", money_in, method: :delete, data: { confirm: "Tem certeza?" }, class: "btn btn-danger" %>
            <%= link_to(money_in , class: "btn btn-default") do %>
              <i class="fa-solid fa-eye"></i> Ver
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%== @pagy.series_nav(:bootstrap) %>
<%= link_to "Nova receita", new_money_in_path, class: "btn btn-primary" %>


