<p style="color: green"><%= notice %></p>

<%= render @money_in %>

<div class="d-grid gap-3 d-md-block d-md-flex mt-4">
  <%= link_to "Editar esta Receita", edit_money_in_path(@money_in), class: "btn btn-primary" %>
  <%= link_to "Voltar para receitas", money_ins_path, class: "btn btn-secondary" %>
  <%= button_to "Excluir esta Receita", @money_in, method: :delete, class: "btn btn-danger" %>
</div>