<%= form_with(model: money_out) do |form| %>
  <% if money_out.errors.any? %>
    <div style="color: red">
      <ul>
        <% money_out.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :label, class: "form-label", for: "moneyOutLabel" %>
    <%= form.text_field :label, class: "form-control", id: "moneyOutLabel", placeholder: "nome da despesa" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label", for: "moneyOutDescription" %>
    <%= form.text_field :description, class: "form-control", id: "moneyOutDescription", placeholder: "descrição da despesa" %>
  </div>

  <div class="mb-3">
    <%= form.label :amount, class: "form-label", for: "moneyOutAmount" %>
    <%= form.number_field :amount, class: "form-control", id: "moneyOutAmount", step: "0.01", placeholder: "valor da despesa" %>
  </div>

  <div class="mb-3">
    <%= form.label :money_date, class: "form-label", for: "moneyOutMoneyDate" %>
    <%= form.date_field :money_date, class: "form-control", id: "moneyOutMoneyDate" %>
  </div>

  <div class="mb-3">
    <%= form.label :category_id, class: "form-label", for: "moneyOutCategoryId" %>
    <%= form.select :category_id, Category.all.collect { |c| [c.name, c.id] }, { include_blank: "Selecione uma categoria" }, class: "form-control", id: "moneyOutCategoryId" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Criar Despesa", class: "btn btn-primary" %>
  </div>

  <div class="mb-3">
    <%= link_to "Voltar", money_outs_path, class: "btn btn-secondary" %>
  </div>
<% end %>
