<div id="<%= dom_id money_out %>">
  <div>
    <strong>Label:</strong>
    <%= money_out.label %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= money_out.description %>
  </div>

  <div>
    <strong>Money date:</strong>
    <%= money_out.money_date %>
  </div>

  <div>
    <strong>Category:</strong>
    <%= money_out.category_id %>
  </div>

</div>
