
<div class="card text-center" id="<%= dom_id money_out %>">
  <div class="card-header">
    <%= money_out.label %>
  </div>
  <div class="card-body">
    <p class="card-text"><%= money_out.description %></p>
  </div>
  <div class="card-body">
    <p class="card-text"><b>Categoria:</b> <%= money_out.category.name %></p>
  </div>
  <div class="card-body">
    <p class="card-text"><b>Valor:</b> R$<%= money_out.amount %></p>
  </div>
  <div class="card-footer text-body-secondary">
    <b><%= money_out.money_date %></b>
  </div>
</div>