<p style="color: green"><%= notice %></p>

<% content_for :title, "Despesas" %>

<h1>Despesas</h1>

<div id="money_outs">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Valor</th>
        <th>Data</th>
        <th>Categoria</th>
        <th>Ações</th>
      </tr>
    </thead>

    <tbody>
      <% @money_outs.each do |money_out| %>
        <tr>
          <td><%= money_out.label %></td>
          <td><%= money_out.description %></td>
          <td><%= number_to_currency(money_out.amount) %></td>
          <td><%= money_out.money_date.strftime("%d/%m/%Y") %></td>
          <td><%= money_out.category.name if money_out.category %></td>
          <td>
            <%= link_to "Editar", edit_money_out_path(money_out), class: "btn btn-warning" %>
            <%= link_to "Excluir", money_out, method: :delete, data: { confirm: "Tem certeza?" }, class: "btn btn-danger" %>
            <%= link_to(money_out , class: "btn btn-default") do %>
              <i class="fa-solid fa-eye"></i> Ver
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%== @pagy.series_nav(:bootstrap) %>
<%= link_to "Nova Despesa", new_money_out_path, class: "btn btn-primary" %>

